@import "../fonts/Atyp/stylesheet.css";

:root {
    /* Fonts */
    --primary-font: Atyp Text, sans serif;

    /* Light colors */
    --background-light: #F7F7F7;
    --surface-light: #FFFFFF;
    --font-color-light: #4C4C4C;
    --main-color-light: #EF5734;
    --on-main-color-light: #FFFFFF;

    --journal-label-color-light: #B3B3B3;
    --journal-heading-color-light: #058E96;
    --journal-text-color-light: #727272;


    /* Colors */
    --background: var(--background-light);
    --surface: var(--surface-light);
    --font-color: var(--font-color-light);
    --main-color: var(--main-color-light);
    --on-main-color: var(--on-main-color-light);
    --journal-label-color: var(--journal-label-color-light);
    --journal-heading-color: var(--journal-heading-color-light);
    --journal-text-color: var(--journal-text-color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

a:hover,
button:hover {
    cursor: pointer;
}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    padding-left: clamp(3px, 3vw, 30px);
    padding-right: clamp(3px, 3vw, 30px);
    align-items: center;

    background-color: var(--background);
}

.main-color {
    color: var(--main-color);
}